.Rproj.user
.Rhistory
.RData
.Ruserdata
donnees/ADMIN-EXPRESS-COG/A*
donnees/ADMIN-EXPRESS-COG/C*
donnees/ADMIN-EXPRESS-COG/E*
donnees/ADMIN-EXPRESS-COG/R*
donnees/ADMIN-EXPRESS-COG/DEPARTEMENT_C*
inst/doc
